:root{
    background-color: #e4b8dd;
    font-family: 'Segoe UI', Helvetica, Arial, "sans-serif" ;
}

.container{
width: 100%;
height: 70vh;
border-radius:10px;
max-width: 650px;
background-color: #ffffff;
box-shadow: 10px 11px 33px 7px rgba(64,61,61,0.69);
-webkit-box-shadow: 10px 11px 33px 7px rgba(64,61,61,0.69);
-moz-box-shadow: 10px 11px 33px 7px rgba(64,61,61,0.69);;
margin:auto;
margin-top: 5%;

}


.fields{

    margin: 5% 10%
}

.pink-font{
    color: #E8258E;
}

.fields__title{

    display: flex;
    justify-content: center;
    font-size: 15px;
}

#field__title{

    font-size: 17px;
    font-weight:bold;
    color:rgb(10, 9, 9);
    
    margin-top: 20px;
    margin-bottom: 5%;
}

.fields__textbox{

  
    height: 100px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fields__textbox > input{

    height: 45px ;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom:5%;
}

.field__remember{

    margin-bottom: 20px;
}

#btnlogin{

    width: 100%;
    border:none;
    background-color: #E8258E;
    color: #ffffff;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor:pointer;
}

.fields__recovery > a , .fields__create > a{

    text-decoration:none;
    color:rgb(66, 63, 63);
}

.fields__recovery{

    display:flex;
    justify-content:flex-end;
    margin-bottom: 20px;

}
.fields__create{
    font: size 18px;
    display:flex;
    justify-content: center;
    font-weight: bold;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo > img{

    height: 60px;
}